/* Google import */
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&family=Roboto:ital,wght@0,100;0,400;1,100&display=swap');

/* Asterisk wildcard selector to overide deafult styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styling */

body {
    color: #1c1d1e;
    font-family: "Roboto", sans-serif;
    text-align: center;
}

h1 {
    color: #1c1d1e;
    font-family: "Libre Baskerville", serif;
    text-align: center;
    padding: 6vw 0 4vw 0;
}

.quiz-area {
    /*background: url(..assets/images/squares.webp) no-repeat center/cover;*/
    background-color: rgb(27, 80, 126);
    position: relative;
    height: 85%;
    width: 85%;
} 
/*
#orange {
    background-color: #ef6306;
}

#blue {
    background-color: #64d0ee;
}

#green {
    background-color: #24d438;
}

#yellow {
    background-color: #eeee64;
}

.squares-top,
.squares-bottom {
    display: flex;
    flex-direction: row;
    padding: 0 2vw 0 2vw;
    justify-content: center;
}

.squares-top >span,
.squares-bottom>span {
  display: inline-block;
  position: relative;
  width: 12rem;
  height: 12rem;
}
 */
.btn {
    background-color: #1c1d1e;
    border-radius: 2px;
    color: aliceblue;
}