/* Google import */
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&family=Roboto:ital,wght@0,100;0,400;1,100&display=swap');

/* Asterisk wildcard selector to overide deafult styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styling */

body {
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    text-align: center;
    background-color: #FECC00;
}

h1 {
    color: #1c1d1e;
    font-family: "Libre Baskerville", serif;
    text-align: center;
    padding: 6vw 0 4vw 0;
    font-size: 1.8rem;
}

h2 {
    font-family: "Libre Baskerville", serif;
    margin: 0.5rem 0 0.5rem 0;
}

h3 {
    font-family: "Libre Baskerville", serif;
}

p {
    line-height: 1.4rem;
}

/* Hide content not visible all the time */
.hide {
    display: none;
}

.visible {
    display: block;
}

/* Game area*/

#game-area,
#questions-area {
    background-color: #006AA7;
    position: relative;
    width: 85%;
    height: auto;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    padding: 2vw;
    border-radius: 10px;
    box-shadow: 0 0 6px 1px rgb(65, 76, 79);
}

#resume {
    background-color: #006AA7;
        position: relative;
        width: 85%;
        height: auto;
        box-sizing: border-box;
        margin-left: auto;
        margin-right: auto;
        padding: 2vw;
        border-radius: 10px;
        box-shadow: 0 0 6px 1px rgb(65, 76, 79);
}

#enter-name {
    width: 11rem;
    height: 2rem;
    border-radius: 10px;
    border: 1px solid #000000;
    text-align: center;
    margin-top: 1rem;
}

.btn {
    background-color: #1c1d1e;
    border-radius: 10px;
    color: aliceblue;
    width: 11rem;
    height: 2rem;
    border: 1px solid #ffffff;
}

/*Style modal*/

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    top: 5rem;
    width: 80%;
    height: auto;
    overflow: auto;
    background-color: #FECC00;
    border-color: #000000;
    border-radius: 10px;
    border: #000000 1px solid;
    margin: 10%;
}

.close {
    font-size: 2rem;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#instructions-content {
    line-height: 2rem;
}

#instructions-content p {
    line-height: 2rem;
    margin: 0 1rem 0 1rem;
}

#instructions {
    margin-top: 1rem;
}

#play {
    margin: 1rem 0 1rem 0;
}

/* Quiz area */


.answers {
    background-color: #FECC00;
    border-radius: 10px;
    color: #000000;
    width: 100%;
    height: auto;
    border: 1px solid #000000;
    margin: 0.5rem auto;
    padding: 1rem;
        
}

#questions {
    line-height: 1.4rem;
    font-size: 90%;
}

.option {
    line-height: 1.4rem;
}

#next {
    margin-top: 0.5rem;
}

#quit {
    margin: 1rem 0 1rem 0;
    
}


.correctscore {
    margin-top: 0.5rem;
}

.incorrectscore {
    margin-bottom: 0.5rem;
}

i.fa-solid.fa-check {
    color: #63d01b;
}

i.fa-solid.fa-xmark {
    color: red;
}

i.fa-solid.fa-down-long {
    margin: 1rem 0 1rem 0;
}